# AUTO-GENERATED — DO NOT EDIT BY HAND.
# Source: packages/shared/src/contracts/*.ts
# Regenerate with: pnpm openapi:generate

openapi: 3.1.0
info:
  title: IndLokal API
  version: 1.0.0-pre
  description: Versioned REST API for IndLokal (web + mobile). Generated from Zod contracts in
    @indlokal/shared per ADR-0002. Endpoint paths are added incrementally as each TDD lands its
    handlers.
servers:
  - url: https://indlokal.com
    description: Production
  - url: http://localhost:3001
    description: Local dev
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Ack:
      type: object
      properties:
        ok:
          type: boolean
          enum:
            - true
      required:
        - ok
    ApiError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum: &a1
                - BAD_REQUEST
                - UNAUTHENTICATED
                - FORBIDDEN
                - NOT_FOUND
                - CONFLICT
                - RATE_LIMITED
                - TOKEN_EXPIRED
                - TOKEN_INVALID
                - TOKEN_REUSED
                - INTERNAL
            message:
              type: string
            details: {}
          required:
            - code
            - message
      required:
        - error
    ApiErrorCode:
      type: string
      enum: *a1
    UserRole:
      type: string
      enum: &a2
        - USER
        - COMMUNITY_ADMIN
        - PLATFORM_ADMIN
    MeProfile:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        email:
          type: string
          format: email
        displayName:
          type:
            - string
            - "null"
        avatarUrl:
          type:
            - string
            - "null"
          format: uri
        role:
          type: string
          enum: *a2
        cityId:
          type:
            - string
            - "null"
          minLength: 20
          maxLength: 40
        personaSegments:
          type: array
          items:
            type: string
        preferredLanguages:
          type: array
          items:
            type: string
        onboardingComplete:
          type: boolean
        createdAt:
          type: string
          format: date-time
        lastActiveAt:
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - email
        - displayName
        - avatarUrl
        - role
        - cityId
        - personaSegments
        - preferredLanguages
        - onboardingComplete
        - createdAt
        - lastActiveAt
    AuthTokens:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        accessExpiresAt:
          type: string
          format: date-time
        refreshExpiresAt:
          type: string
          format: date-time
        user:
          type: object
          properties:
            id:
              type: string
              minLength: 20
              maxLength: 40
            email:
              type: string
              format: email
            displayName:
              type:
                - string
                - "null"
            avatarUrl:
              type:
                - string
                - "null"
              format: uri
            role:
              type: string
              enum: *a2
            cityId:
              type:
                - string
                - "null"
              minLength: 20
              maxLength: 40
            personaSegments:
              type: array
              items:
                type: string
            preferredLanguages:
              type: array
              items:
                type: string
            onboardingComplete:
              type: boolean
            createdAt:
              type: string
              format: date-time
            lastActiveAt:
              type:
                - string
                - "null"
              format: date-time
          required:
            - id
            - email
            - displayName
            - avatarUrl
            - role
            - cityId
            - personaSegments
            - preferredLanguages
            - onboardingComplete
            - createdAt
            - lastActiveAt
      required:
        - accessToken
        - refreshToken
        - accessExpiresAt
        - refreshExpiresAt
        - user
    MagicLinkRequest:
      type: object
      properties:
        email:
          type: string
          maxLength: 254
          format: email
        redirectTo:
          type: string
          maxLength: 500
      required:
        - email
    MagicLinkVerify:
      type: object
      properties:
        token:
          type: string
          minLength: 1
          maxLength: 500
      required:
        - token
    GoogleAuth:
      type: object
      properties:
        code:
          type: string
          minLength: 1
        codeVerifier:
          type: string
          minLength: 1
        redirectUri:
          type: string
          format: uri
      required:
        - code
        - redirectUri
    AppleAuth:
      type: object
      properties:
        identityToken:
          type: string
          minLength: 1
        authorizationCode:
          type: string
          minLength: 1
        user:
          type: object
          properties:
            email:
              type: string
              format: email
            name:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
      required:
        - identityToken
        - authorizationCode
    RefreshRequest:
      type: object
      properties:
        refreshToken:
          type: string
          minLength: 1
      required:
        - refreshToken
    DevicePlatform:
      type: string
      enum: &a3
        - IOS
        - ANDROID
        - WEB
    Device:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        installationId:
          type: string
        platform:
          type: string
          enum: *a3
        expoPushToken:
          type:
            - string
            - "null"
        locale:
          type: string
        timezone:
          type: string
        appVersion:
          type:
            - string
            - "null"
        lastSeenAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - installationId
        - platform
        - expoPushToken
        - locale
        - timezone
        - appVersion
        - lastSeenAt
        - createdAt
    DeviceRegister:
      type: object
      properties:
        installationId:
          type: string
          minLength: 1
          maxLength: 128
        platform:
          type: string
          enum: *a3
        expoPushToken:
          type: string
          minLength: 1
          maxLength: 256
        locale:
          type: string
          minLength: 2
          maxLength: 16
        timezone:
          type: string
          minLength: 1
          maxLength: 64
        appVersion:
          type: string
          maxLength: 32
      required:
        - installationId
        - platform
    DeviceUpdate:
      type: object
      properties:
        platform:
          type: string
          enum: *a3
        expoPushToken:
          type: string
          minLength: 1
          maxLength: 256
        locale:
          type: string
          minLength: 2
          maxLength: 16
        timezone:
          type: string
          minLength: 1
          maxLength: 64
        appVersion:
          type: string
          maxLength: 32
    NotificationTopic:
      type: string
      enum: &a4
        - CITY_NEW_EVENT
        - COMMUNITY_UPDATE
        - SAVED_EVENT_REMINDER
        - FESTIVAL
        - WEEKLY_DIGEST
        - ORGANIZER_RSVP
        - ORGANIZER_SUBMISSION
        - REENGAGEMENT
    NotificationChannel:
      type: string
      enum: &a5
        - PUSH
        - EMAIL
        - INBOX
    NotificationPreferenceItem:
      type: object
      properties:
        topic:
          type: string
          enum: *a4
        channel:
          type: string
          enum: *a5
        enabled:
          type: boolean
      required:
        - topic
        - channel
        - enabled
    QuietHours:
      type: object
      properties:
        startMin:
          type: integer
          minimum: 0
          maximum: 1439
        endMin:
          type: integer
          minimum: 0
          maximum: 1439
        timezone:
          type: string
          minLength: 1
          maxLength: 64
      required:
        - startMin
        - endMin
        - timezone
    NotificationPreferences:
      type: object
      properties:
        preferences:
          type: array
          items:
            type: object
            properties:
              topic:
                type: string
                enum: *a4
              channel:
                type: string
                enum: *a5
              enabled:
                type: boolean
            required:
              - topic
              - channel
              - enabled
        quietHours:
          type: object
          properties:
            startMin:
              type: integer
              minimum: 0
              maximum: 1439
            endMin:
              type: integer
              minimum: 0
              maximum: 1439
            timezone:
              type: string
              minLength: 1
              maxLength: 64
          required:
            - startMin
            - endMin
            - timezone
      required:
        - preferences
        - quietHours
    NotificationPreferencesUpdate:
      type: object
      properties:
        preferences:
          type: array
          items:
            type: object
            properties:
              topic:
                type: string
                enum: *a4
              channel:
                type: string
                enum: *a5
              enabled:
                type: boolean
            required:
              - topic
              - channel
              - enabled
        quietHours:
          type: object
          properties:
            startMin:
              type: integer
              minimum: 0
              maximum: 1439
            endMin:
              type: integer
              minimum: 0
              maximum: 1439
            timezone:
              type: string
              minLength: 1
              maxLength: 64
    InboxItem:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        topic:
          type: string
          enum: *a4
        title:
          type: string
        body:
          type: string
        deepLink:
          type:
            - string
            - "null"
        readAt:
          type:
            - string
            - "null"
          format: date-time
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - topic
        - title
        - body
        - deepLink
        - readAt
        - createdAt
    InboxPage:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 20
                maxLength: 40
              topic:
                type: string
                enum: *a4
              title:
                type: string
              body:
                type: string
              deepLink:
                type:
                  - string
                  - "null"
              readAt:
                type:
                  - string
                  - "null"
                format: date-time
              createdAt:
                type: string
                format: date-time
            required:
              - id
              - topic
              - title
              - body
              - deepLink
              - readAt
              - createdAt
        nextCursor:
          type: string
      required:
        - items
    InboxReadRequest:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            minLength: 20
            maxLength: 40
          minItems: 1
          maxItems: 100
      required:
        - ids
  parameters: {}
paths:
  /api/v1/auth/magic-link/request:
    post:
      summary: Request a magic-link email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  maxLength: 254
                  format: email
                redirectTo:
                  type: string
                  maxLength: 500
              required:
                - email
      responses:
        "200":
          description: Always 200 to prevent account enumeration
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                required:
                  - ok
        "400":
          description: Error envelope
          content:
            application/json: &a6
              schema:
                $ref: "#/components/schemas/ApiError"
        "429":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/auth/magic-link/verify:
    post:
      summary: Verify a magic-link token and receive auth tokens
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  minLength: 1
                  maxLength: 500
              required:
                - token
      responses:
        "200":
          description: Auth tokens + user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  accessExpiresAt:
                    type: string
                    format: date-time
                  refreshExpiresAt:
                    type: string
                    format: date-time
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 20
                        maxLength: 40
                      email:
                        type: string
                        format: email
                      displayName:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
                        format: uri
                      role:
                        type: string
                        enum: *a2
                      cityId:
                        type:
                          - string
                          - "null"
                        minLength: 20
                        maxLength: 40
                      personaSegments:
                        type: array
                        items:
                          type: string
                      preferredLanguages:
                        type: array
                        items:
                          type: string
                      onboardingComplete:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      lastActiveAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                    required:
                      - id
                      - email
                      - displayName
                      - avatarUrl
                      - role
                      - cityId
                      - personaSegments
                      - preferredLanguages
                      - onboardingComplete
                      - createdAt
                      - lastActiveAt
                required:
                  - accessToken
                  - refreshToken
                  - accessExpiresAt
                  - refreshExpiresAt
                  - user
        "400":
          description: Error envelope
          content:
            application/json: *a6
        "401":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/auth/google:
    post:
      summary: Exchange a Google authorization code for auth tokens
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  minLength: 1
                codeVerifier:
                  type: string
                  minLength: 1
                redirectUri:
                  type: string
                  format: uri
              required:
                - code
                - redirectUri
      responses:
        "200":
          description: Auth tokens + user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  accessExpiresAt:
                    type: string
                    format: date-time
                  refreshExpiresAt:
                    type: string
                    format: date-time
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 20
                        maxLength: 40
                      email:
                        type: string
                        format: email
                      displayName:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
                        format: uri
                      role:
                        type: string
                        enum: *a2
                      cityId:
                        type:
                          - string
                          - "null"
                        minLength: 20
                        maxLength: 40
                      personaSegments:
                        type: array
                        items:
                          type: string
                      preferredLanguages:
                        type: array
                        items:
                          type: string
                      onboardingComplete:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      lastActiveAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                    required:
                      - id
                      - email
                      - displayName
                      - avatarUrl
                      - role
                      - cityId
                      - personaSegments
                      - preferredLanguages
                      - onboardingComplete
                      - createdAt
                      - lastActiveAt
                required:
                  - accessToken
                  - refreshToken
                  - accessExpiresAt
                  - refreshExpiresAt
                  - user
        "400":
          description: Error envelope
          content:
            application/json: *a6
        "401":
          description: Error envelope
          content:
            application/json: *a6
        "500":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/auth/apple:
    post:
      summary: Verify an Apple identity token and exchange for auth tokens
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identityToken:
                  type: string
                  minLength: 1
                authorizationCode:
                  type: string
                  minLength: 1
                user:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                    name:
                      type: object
                      properties:
                        firstName:
                          type: string
                        lastName:
                          type: string
              required:
                - identityToken
                - authorizationCode
      responses:
        "200":
          description: Auth tokens + user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  accessExpiresAt:
                    type: string
                    format: date-time
                  refreshExpiresAt:
                    type: string
                    format: date-time
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 20
                        maxLength: 40
                      email:
                        type: string
                        format: email
                      displayName:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
                        format: uri
                      role:
                        type: string
                        enum: *a2
                      cityId:
                        type:
                          - string
                          - "null"
                        minLength: 20
                        maxLength: 40
                      personaSegments:
                        type: array
                        items:
                          type: string
                      preferredLanguages:
                        type: array
                        items:
                          type: string
                      onboardingComplete:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      lastActiveAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                    required:
                      - id
                      - email
                      - displayName
                      - avatarUrl
                      - role
                      - cityId
                      - personaSegments
                      - preferredLanguages
                      - onboardingComplete
                      - createdAt
                      - lastActiveAt
                required:
                  - accessToken
                  - refreshToken
                  - accessExpiresAt
                  - refreshExpiresAt
                  - user
        "400":
          description: Error envelope
          content:
            application/json: *a6
        "401":
          description: Error envelope
          content:
            application/json: *a6
        "500":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/auth/refresh:
    post:
      summary: Rotate the refresh token and mint a fresh access token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  minLength: 1
              required:
                - refreshToken
      responses:
        "200":
          description: Fresh auth tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  accessExpiresAt:
                    type: string
                    format: date-time
                  refreshExpiresAt:
                    type: string
                    format: date-time
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 20
                        maxLength: 40
                      email:
                        type: string
                        format: email
                      displayName:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
                        format: uri
                      role:
                        type: string
                        enum: *a2
                      cityId:
                        type:
                          - string
                          - "null"
                        minLength: 20
                        maxLength: 40
                      personaSegments:
                        type: array
                        items:
                          type: string
                      preferredLanguages:
                        type: array
                        items:
                          type: string
                      onboardingComplete:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      lastActiveAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                    required:
                      - id
                      - email
                      - displayName
                      - avatarUrl
                      - role
                      - cityId
                      - personaSegments
                      - preferredLanguages
                      - onboardingComplete
                      - createdAt
                      - lastActiveAt
                required:
                  - accessToken
                  - refreshToken
                  - accessExpiresAt
                  - refreshExpiresAt
                  - user
        "400":
          description: Error envelope
          content:
            application/json: *a6
        "401":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/auth/logout:
    post:
      summary: Revoke a refresh token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  minLength: 1
              required:
                - refreshToken
      responses:
        "200":
          description: Acknowledged (idempotent)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                required:
                  - ok
        "400":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/me:
    get:
      summary: Return the authenticated user profile
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 20
                    maxLength: 40
                  email:
                    type: string
                    format: email
                  displayName:
                    type:
                      - string
                      - "null"
                  avatarUrl:
                    type:
                      - string
                      - "null"
                    format: uri
                  role:
                    type: string
                    enum: *a2
                  cityId:
                    type:
                      - string
                      - "null"
                    minLength: 20
                    maxLength: 40
                  personaSegments:
                    type: array
                    items:
                      type: string
                  preferredLanguages:
                    type: array
                    items:
                      type: string
                  onboardingComplete:
                    type: boolean
                  createdAt:
                    type: string
                    format: date-time
                  lastActiveAt:
                    type:
                      - string
                      - "null"
                    format: date-time
                required:
                  - id
                  - email
                  - displayName
                  - avatarUrl
                  - role
                  - cityId
                  - personaSegments
                  - preferredLanguages
                  - onboardingComplete
                  - createdAt
                  - lastActiveAt
        "401":
          description: Error envelope
          content:
            application/json: *a6
        "404":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/devices:
    post:
      summary: Register or refresh the calling device
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                installationId:
                  type: string
                  minLength: 1
                  maxLength: 128
                platform:
                  type: string
                  enum: *a3
                expoPushToken:
                  type: string
                  minLength: 1
                  maxLength: 256
                locale:
                  type: string
                  minLength: 2
                  maxLength: 16
                timezone:
                  type: string
                  minLength: 1
                  maxLength: 64
                appVersion:
                  type: string
                  maxLength: 32
              required:
                - installationId
                - platform
      responses:
        "200":
          description: Device record
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 20
                    maxLength: 40
                  installationId:
                    type: string
                  platform:
                    type: string
                    enum: *a3
                  expoPushToken:
                    type:
                      - string
                      - "null"
                  locale:
                    type: string
                  timezone:
                    type: string
                  appVersion:
                    type:
                      - string
                      - "null"
                  lastSeenAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                required:
                  - id
                  - installationId
                  - platform
                  - expoPushToken
                  - locale
                  - timezone
                  - appVersion
                  - lastSeenAt
                  - createdAt
        "400":
          description: Error envelope
          content:
            application/json: *a6
        "401":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/devices/{installationId}:
    patch:
      summary: Update mutable device fields (push token, locale, ...)
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: installationId
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  enum: *a3
                expoPushToken:
                  type: string
                  minLength: 1
                  maxLength: 256
                locale:
                  type: string
                  minLength: 2
                  maxLength: 16
                timezone:
                  type: string
                  minLength: 1
                  maxLength: 64
                appVersion:
                  type: string
                  maxLength: 32
      responses:
        "200":
          description: Device record
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 20
                    maxLength: 40
                  installationId:
                    type: string
                  platform:
                    type: string
                    enum: *a3
                  expoPushToken:
                    type:
                      - string
                      - "null"
                  locale:
                    type: string
                  timezone:
                    type: string
                  appVersion:
                    type:
                      - string
                      - "null"
                  lastSeenAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                required:
                  - id
                  - installationId
                  - platform
                  - expoPushToken
                  - locale
                  - timezone
                  - appVersion
                  - lastSeenAt
                  - createdAt
        "400":
          description: Error envelope
          content:
            application/json: *a6
        "401":
          description: Error envelope
          content:
            application/json: *a6
        "404":
          description: Error envelope
          content:
            application/json: *a6
    delete:
      summary: Sign out from the given device
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: installationId
          in: path
      responses:
        "200":
          description: Acknowledged (idempotent)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                required:
                  - ok
        "401":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/notifications/preferences:
    get:
      summary: Read the full topic × channel preference matrix
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences:
                    type: array
                    items:
                      type: object
                      properties:
                        topic:
                          type: string
                          enum: *a4
                        channel:
                          type: string
                          enum: *a5
                        enabled:
                          type: boolean
                      required:
                        - topic
                        - channel
                        - enabled
                  quietHours:
                    type: object
                    properties:
                      startMin:
                        type: integer
                        minimum: 0
                        maximum: 1439
                      endMin:
                        type: integer
                        minimum: 0
                        maximum: 1439
                      timezone:
                        type: string
                        minLength: 1
                        maxLength: 64
                    required:
                      - startMin
                      - endMin
                      - timezone
                required:
                  - preferences
                  - quietHours
        "401":
          description: Error envelope
          content:
            application/json: *a6
    put:
      summary: Patch preferences and/or quiet hours
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preferences:
                  type: array
                  items:
                    type: object
                    properties:
                      topic:
                        type: string
                        enum: *a4
                      channel:
                        type: string
                        enum: *a5
                      enabled:
                        type: boolean
                    required:
                      - topic
                      - channel
                      - enabled
                quietHours:
                  type: object
                  properties:
                    startMin:
                      type: integer
                      minimum: 0
                      maximum: 1439
                    endMin:
                      type: integer
                      minimum: 0
                      maximum: 1439
                    timezone:
                      type: string
                      minLength: 1
                      maxLength: 64
      responses:
        "200":
          description: Updated preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences:
                    type: array
                    items:
                      type: object
                      properties:
                        topic:
                          type: string
                          enum: *a4
                        channel:
                          type: string
                          enum: *a5
                        enabled:
                          type: boolean
                      required:
                        - topic
                        - channel
                        - enabled
                  quietHours:
                    type: object
                    properties:
                      startMin:
                        type: integer
                        minimum: 0
                        maximum: 1439
                      endMin:
                        type: integer
                        minimum: 0
                        maximum: 1439
                      timezone:
                        type: string
                        minLength: 1
                        maxLength: 64
                    required:
                      - startMin
                      - endMin
                      - timezone
                required:
                  - preferences
                  - quietHours
        "400":
          description: Error envelope
          content:
            application/json: *a6
        "401":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/notifications/inbox:
    get:
      summary: List inbox items, newest first
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: false
          name: cursor
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 50
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Inbox page
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 20
                          maxLength: 40
                        topic:
                          type: string
                          enum: *a4
                        title:
                          type: string
                        body:
                          type: string
                        deepLink:
                          type:
                            - string
                            - "null"
                        readAt:
                          type:
                            - string
                            - "null"
                          format: date-time
                        createdAt:
                          type: string
                          format: date-time
                      required:
                        - id
                        - topic
                        - title
                        - body
                        - deepLink
                        - readAt
                        - createdAt
                  nextCursor:
                    type: string
                required:
                  - items
        "401":
          description: Error envelope
          content:
            application/json: *a6
  /api/v1/notifications/inbox/read:
    post:
      summary: Mark inbox items as read
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    minLength: 20
                    maxLength: 40
                  minItems: 1
                  maxItems: 100
              required:
                - ids
      responses:
        "200":
          description: Acknowledged
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                required:
                  - ok
        "400":
          description: Error envelope
          content:
            application/json: *a6
        "401":
          description: Error envelope
          content:
            application/json: *a6
webhooks: {}
