# AUTO-GENERATED — DO NOT EDIT BY HAND.
# Source: packages/shared/src/contracts/*.ts
# Regenerate with: pnpm openapi:generate

openapi: 3.1.0
info:
  title: IndLokal API
  version: 1.0.0-pre
  description: Versioned REST API for IndLokal (web + mobile). Generated from Zod contracts in
    @indlokal/shared per ADR-0002. Endpoint paths are added incrementally as each TDD lands its
    handlers.
servers:
  - url: https://indlokal.com
    description: Production
  - url: http://localhost:3001
    description: Local dev
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Ack:
      type: object
      properties:
        ok:
          type: boolean
          enum:
            - true
      required:
        - ok
    ApiError:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum: &a1
                - BAD_REQUEST
                - UNAUTHENTICATED
                - FORBIDDEN
                - NOT_FOUND
                - CONFLICT
                - RATE_LIMITED
                - TOKEN_EXPIRED
                - TOKEN_INVALID
                - TOKEN_REUSED
                - INTERNAL
            message:
              type: string
            details: {}
          required:
            - code
            - message
      required:
        - error
    ApiErrorCode:
      type: string
      enum: *a1
    UserRole:
      type: string
      enum: &a2
        - USER
        - COMMUNITY_ADMIN
        - PLATFORM_ADMIN
    MeProfile:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        email:
          type: string
          format: email
        displayName:
          type:
            - string
            - "null"
        avatarUrl:
          type:
            - string
            - "null"
          format: uri
        role:
          type: string
          enum: *a2
        cityId:
          type:
            - string
            - "null"
          minLength: 20
          maxLength: 40
        personaSegments:
          type: array
          items:
            type: string
        preferredLanguages:
          type: array
          items:
            type: string
        onboardingComplete:
          type: boolean
        createdAt:
          type: string
          format: date-time
        lastActiveAt:
          type:
            - string
            - "null"
          format: date-time
      required:
        - id
        - email
        - displayName
        - avatarUrl
        - role
        - cityId
        - personaSegments
        - preferredLanguages
        - onboardingComplete
        - createdAt
        - lastActiveAt
    AuthTokens:
      type: object
      properties:
        accessToken:
          type: string
        refreshToken:
          type: string
        accessExpiresAt:
          type: string
          format: date-time
        refreshExpiresAt:
          type: string
          format: date-time
        user:
          type: object
          properties:
            id:
              type: string
              minLength: 20
              maxLength: 40
            email:
              type: string
              format: email
            displayName:
              type:
                - string
                - "null"
            avatarUrl:
              type:
                - string
                - "null"
              format: uri
            role:
              type: string
              enum: *a2
            cityId:
              type:
                - string
                - "null"
              minLength: 20
              maxLength: 40
            personaSegments:
              type: array
              items:
                type: string
            preferredLanguages:
              type: array
              items:
                type: string
            onboardingComplete:
              type: boolean
            createdAt:
              type: string
              format: date-time
            lastActiveAt:
              type:
                - string
                - "null"
              format: date-time
          required:
            - id
            - email
            - displayName
            - avatarUrl
            - role
            - cityId
            - personaSegments
            - preferredLanguages
            - onboardingComplete
            - createdAt
            - lastActiveAt
      required:
        - accessToken
        - refreshToken
        - accessExpiresAt
        - refreshExpiresAt
        - user
    MagicLinkRequest:
      type: object
      properties:
        email:
          type: string
          maxLength: 254
          format: email
        redirectTo:
          type: string
          maxLength: 500
      required:
        - email
    MagicLinkVerify:
      type: object
      properties:
        token:
          type: string
          minLength: 1
          maxLength: 500
      required:
        - token
    GoogleAuth:
      type: object
      properties:
        code:
          type: string
          minLength: 1
        codeVerifier:
          type: string
          minLength: 1
        redirectUri:
          type: string
          format: uri
      required:
        - code
        - redirectUri
    AppleAuth:
      type: object
      properties:
        identityToken:
          type: string
          minLength: 1
        authorizationCode:
          type: string
          minLength: 1
        user:
          type: object
          properties:
            email:
              type: string
              format: email
            name:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
      required:
        - identityToken
        - authorizationCode
    RefreshRequest:
      type: object
      properties:
        refreshToken:
          type: string
          minLength: 1
      required:
        - refreshToken
    DevicePlatform:
      type: string
      enum: &a3
        - IOS
        - ANDROID
        - WEB
    Device:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        installationId:
          type: string
        platform:
          type: string
          enum: *a3
        expoPushToken:
          type:
            - string
            - "null"
        locale:
          type: string
        timezone:
          type: string
        appVersion:
          type:
            - string
            - "null"
        lastSeenAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - installationId
        - platform
        - expoPushToken
        - locale
        - timezone
        - appVersion
        - lastSeenAt
        - createdAt
    DeviceRegister:
      type: object
      properties:
        installationId:
          type: string
          minLength: 1
          maxLength: 128
        platform:
          type: string
          enum: *a3
        expoPushToken:
          type: string
          minLength: 1
          maxLength: 256
        locale:
          type: string
          minLength: 2
          maxLength: 16
        timezone:
          type: string
          minLength: 1
          maxLength: 64
        appVersion:
          type: string
          maxLength: 32
      required:
        - installationId
        - platform
    DeviceUpdate:
      type: object
      properties:
        platform:
          type: string
          enum: *a3
        expoPushToken:
          type: string
          minLength: 1
          maxLength: 256
        locale:
          type: string
          minLength: 2
          maxLength: 16
        timezone:
          type: string
          minLength: 1
          maxLength: 64
        appVersion:
          type: string
          maxLength: 32
    NotificationTopic:
      type: string
      enum: &a4
        - CITY_NEW_EVENT
        - COMMUNITY_UPDATE
        - SAVED_EVENT_REMINDER
        - FESTIVAL
        - WEEKLY_DIGEST
        - ORGANIZER_RSVP
        - ORGANIZER_SUBMISSION
        - REENGAGEMENT
    NotificationChannel:
      type: string
      enum: &a5
        - PUSH
        - EMAIL
        - INBOX
    NotificationPreferenceItem:
      type: object
      properties:
        topic:
          type: string
          enum: *a4
        channel:
          type: string
          enum: *a5
        enabled:
          type: boolean
      required:
        - topic
        - channel
        - enabled
    QuietHours:
      type: object
      properties:
        startMin:
          type: integer
          minimum: 0
          maximum: 1439
        endMin:
          type: integer
          minimum: 0
          maximum: 1439
        timezone:
          type: string
          minLength: 1
          maxLength: 64
      required:
        - startMin
        - endMin
        - timezone
    NotificationPreferences:
      type: object
      properties:
        preferences:
          type: array
          items:
            type: object
            properties:
              topic:
                type: string
                enum: *a4
              channel:
                type: string
                enum: *a5
              enabled:
                type: boolean
            required:
              - topic
              - channel
              - enabled
        quietHours:
          type: object
          properties:
            startMin:
              type: integer
              minimum: 0
              maximum: 1439
            endMin:
              type: integer
              minimum: 0
              maximum: 1439
            timezone:
              type: string
              minLength: 1
              maxLength: 64
          required:
            - startMin
            - endMin
            - timezone
      required:
        - preferences
        - quietHours
    NotificationPreferencesUpdate:
      type: object
      properties:
        preferences:
          type: array
          items:
            type: object
            properties:
              topic:
                type: string
                enum: *a4
              channel:
                type: string
                enum: *a5
              enabled:
                type: boolean
            required:
              - topic
              - channel
              - enabled
        quietHours:
          type: object
          properties:
            startMin:
              type: integer
              minimum: 0
              maximum: 1439
            endMin:
              type: integer
              minimum: 0
              maximum: 1439
            timezone:
              type: string
              minLength: 1
              maxLength: 64
    InboxItem:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        topic:
          type: string
          enum: *a4
        title:
          type: string
        body:
          type: string
        deepLink:
          type:
            - string
            - "null"
        readAt:
          type:
            - string
            - "null"
          format: date-time
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - topic
        - title
        - body
        - deepLink
        - readAt
        - createdAt
    InboxPage:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 20
                maxLength: 40
              topic:
                type: string
                enum: *a4
              title:
                type: string
              body:
                type: string
              deepLink:
                type:
                  - string
                  - "null"
              readAt:
                type:
                  - string
                  - "null"
                format: date-time
              createdAt:
                type: string
                format: date-time
            required:
              - id
              - topic
              - title
              - body
              - deepLink
              - readAt
              - createdAt
        nextCursor:
          type: string
      required:
        - items
    InboxReadRequest:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
            minLength: 20
            maxLength: 40
          minItems: 1
          maxItems: 100
      required:
        - ids
    City:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        name:
          type: string
        slug:
          type: string
        state:
          type: string
        country:
          type: string
        isActive:
          type: boolean
        isMetroPrimary:
          type: boolean
        timezone:
          type: string
        diasporaDensityEstimate:
          type:
            - integer
            - "null"
        latitude:
          type:
            - number
            - "null"
        longitude:
          type:
            - number
            - "null"
      required:
        - id
        - name
        - slug
        - state
        - country
        - isActive
        - isMetroPrimary
        - timezone
        - diasporaDensityEstimate
        - latitude
        - longitude
    CategorySummary:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        icon:
          type:
            - string
            - "null"
        communityCount:
          type: integer
      required:
        - name
        - slug
        - icon
        - communityCount
    CityCounts:
      type: object
      properties:
        communities:
          type: integer
        upcomingEvents:
          type: integer
        categories:
          type: integer
      required:
        - communities
        - upcomingEvents
        - categories
    CityDetail:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        name:
          type: string
        slug:
          type: string
        state:
          type: string
        country:
          type: string
        isActive:
          type: boolean
        isMetroPrimary:
          type: boolean
        timezone:
          type: string
        diasporaDensityEstimate:
          type:
            - integer
            - "null"
        latitude:
          type:
            - number
            - "null"
        longitude:
          type:
            - number
            - "null"
        counts:
          type: object
          properties:
            communities:
              type: integer
            upcomingEvents:
              type: integer
            categories:
              type: integer
          required:
            - communities
            - upcomingEvents
            - categories
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              slug:
                type: string
              icon:
                type:
                  - string
                  - "null"
              communityCount:
                type: integer
            required:
              - name
              - slug
              - icon
              - communityCount
      required:
        - id
        - name
        - slug
        - state
        - country
        - isActive
        - isMetroPrimary
        - timezone
        - diasporaDensityEstimate
        - latitude
        - longitude
        - counts
        - categories
    CommunityRef:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
      required:
        - name
        - slug
    CityRef:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
      required:
        - name
        - slug
    CategoryRef:
      type: object
      properties:
        name:
          type: string
        slug:
          type: string
        icon:
          type:
            - string
            - "null"
      required:
        - name
        - slug
        - icon
    EventCard:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        title:
          type: string
        slug:
          type: string
        startsAt:
          type: string
          format: date-time
        endsAt:
          type:
            - string
            - "null"
          format: date-time
        venueName:
          type:
            - string
            - "null"
        isOnline:
          type: boolean
        cost:
          type:
            - string
            - "null"
        imageUrl:
          type:
            - string
            - "null"
        isRecurring:
          type: boolean
        community:
          type:
            - object
            - "null"
          properties:
            name:
              type: string
            slug:
              type: string
          required:
            - name
            - slug
        city:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
          required:
            - name
            - slug
        categories:
          type: array
          items:
            type: object
            properties:
              category:
                type: object
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                  icon:
                    type:
                      - string
                      - "null"
                required:
                  - name
                  - slug
                  - icon
            required:
              - category
      required:
        - id
        - title
        - slug
        - startsAt
        - endsAt
        - venueName
        - isOnline
        - cost
        - imageUrl
        - isRecurring
        - community
        - city
        - categories
    EventsQuery:
      type: object
      properties:
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
        cursor:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 50
        categorySlug:
          type: string
    EventsPage:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 20
                maxLength: 40
              title:
                type: string
              slug:
                type: string
              startsAt:
                type: string
                format: date-time
              endsAt:
                type:
                  - string
                  - "null"
                format: date-time
              venueName:
                type:
                  - string
                  - "null"
              isOnline:
                type: boolean
              cost:
                type:
                  - string
                  - "null"
              imageUrl:
                type:
                  - string
                  - "null"
              isRecurring:
                type: boolean
              community:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                required:
                  - name
                  - slug
              city:
                type: object
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                required:
                  - name
                  - slug
              categories:
                type: array
                items:
                  type: object
                  properties:
                    category:
                      type: object
                      properties:
                        name:
                          type: string
                        slug:
                          type: string
                        icon:
                          type:
                            - string
                            - "null"
                      required:
                        - name
                        - slug
                        - icon
                  required:
                    - category
            required:
              - id
              - title
              - slug
              - startsAt
              - endsAt
              - venueName
              - isOnline
              - cost
              - imageUrl
              - isRecurring
              - community
              - city
              - categories
        nextCursor:
          type: string
      required:
        - items
    CommunityStatus:
      type: string
      enum: &a6
        - ACTIVE
        - INACTIVE
        - UNVERIFIED
        - CLAIMED
    ClaimState:
      type: string
      enum: &a7
        - UNCLAIMED
        - CLAIM_PENDING
        - CLAIMED
    CommunityCard:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        name:
          type: string
        slug:
          type: string
        description:
          type:
            - string
            - "null"
        status:
          type: string
          enum: *a6
        activityScore:
          type: number
        completenessScore:
          type: number
        trustScore:
          type: number
        isTrending:
          type: boolean
        claimState:
          type: string
          enum: *a7
        memberCountApprox:
          type:
            - integer
            - "null"
        logoUrl:
          type:
            - string
            - "null"
        lastActivityAt:
          type:
            - string
            - "null"
          format: date-time
        languages:
          type: array
          items:
            type: string
        city:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
          required:
            - name
            - slug
        categories:
          type: array
          items:
            type: object
            properties:
              category:
                type: object
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                  icon:
                    type:
                      - string
                      - "null"
                required:
                  - name
                  - slug
                  - icon
            required:
              - category
        upcomingEventCount:
          type: integer
      required:
        - id
        - name
        - slug
        - description
        - status
        - activityScore
        - completenessScore
        - trustScore
        - isTrending
        - claimState
        - memberCountApprox
        - logoUrl
        - lastActivityAt
        - languages
        - city
        - categories
        - upcomingEventCount
    CommunitiesQuery:
      type: object
      properties:
        cursor:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 50
        categorySlug:
          type: string
    CommunitiesPage:
      type: object
      properties:
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 20
                maxLength: 40
              name:
                type: string
              slug:
                type: string
              description:
                type:
                  - string
                  - "null"
              status:
                type: string
                enum: *a6
              activityScore:
                type: number
              completenessScore:
                type: number
              trustScore:
                type: number
              isTrending:
                type: boolean
              claimState:
                type: string
                enum: *a7
              memberCountApprox:
                type:
                  - integer
                  - "null"
              logoUrl:
                type:
                  - string
                  - "null"
              lastActivityAt:
                type:
                  - string
                  - "null"
                format: date-time
              languages:
                type: array
                items:
                  type: string
              city:
                type: object
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                required:
                  - name
                  - slug
              categories:
                type: array
                items:
                  type: object
                  properties:
                    category:
                      type: object
                      properties:
                        name:
                          type: string
                        slug:
                          type: string
                        icon:
                          type:
                            - string
                            - "null"
                      required:
                        - name
                        - slug
                        - icon
                  required:
                    - category
              upcomingEventCount:
                type: integer
            required:
              - id
              - name
              - slug
              - description
              - status
              - activityScore
              - completenessScore
              - trustScore
              - isTrending
              - claimState
              - memberCountApprox
              - logoUrl
              - lastActivityAt
              - languages
              - city
              - categories
              - upcomingEventCount
        nextCursor:
          type: string
      required:
        - items
    TrendingResponse:
      type: object
      properties:
        communities:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 20
                maxLength: 40
              name:
                type: string
              slug:
                type: string
              description:
                type:
                  - string
                  - "null"
              status:
                type: string
                enum: *a6
              activityScore:
                type: number
              completenessScore:
                type: number
              trustScore:
                type: number
              isTrending:
                type: boolean
              claimState:
                type: string
                enum: *a7
              memberCountApprox:
                type:
                  - integer
                  - "null"
              logoUrl:
                type:
                  - string
                  - "null"
              lastActivityAt:
                type:
                  - string
                  - "null"
                format: date-time
              languages:
                type: array
                items:
                  type: string
              city:
                type: object
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                required:
                  - name
                  - slug
              categories:
                type: array
                items:
                  type: object
                  properties:
                    category:
                      type: object
                      properties:
                        name:
                          type: string
                        slug:
                          type: string
                        icon:
                          type:
                            - string
                            - "null"
                      required:
                        - name
                        - slug
                        - icon
                  required:
                    - category
              upcomingEventCount:
                type: integer
            required:
              - id
              - name
              - slug
              - description
              - status
              - activityScore
              - completenessScore
              - trustScore
              - isTrending
              - claimState
              - memberCountApprox
              - logoUrl
              - lastActivityAt
              - languages
              - city
              - categories
              - upcomingEventCount
        events:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 20
                maxLength: 40
              title:
                type: string
              slug:
                type: string
              startsAt:
                type: string
                format: date-time
              endsAt:
                type:
                  - string
                  - "null"
                format: date-time
              venueName:
                type:
                  - string
                  - "null"
              isOnline:
                type: boolean
              cost:
                type:
                  - string
                  - "null"
              imageUrl:
                type:
                  - string
                  - "null"
              isRecurring:
                type: boolean
              community:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                required:
                  - name
                  - slug
              city:
                type: object
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                required:
                  - name
                  - slug
              categories:
                type: array
                items:
                  type: object
                  properties:
                    category:
                      type: object
                      properties:
                        name:
                          type: string
                        slug:
                          type: string
                        icon:
                          type:
                            - string
                            - "null"
                      required:
                        - name
                        - slug
                        - icon
                  required:
                    - category
            required:
              - id
              - title
              - slug
              - startsAt
              - endsAt
              - venueName
              - isOnline
              - cost
              - imageUrl
              - isRecurring
              - community
              - city
              - categories
        categories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              slug:
                type: string
              icon:
                type:
                  - string
                  - "null"
              communityCount:
                type: integer
            required:
              - name
              - slug
              - icon
              - communityCount
      required:
        - communities
        - events
        - categories
    TrustSignalType:
      type: string
      enum: &a8
        - ADMIN_VERIFIED
        - COMMUNITY_CLAIMED
        - USER_REPORTED_ACCURATE
        - USER_REPORTED_STALE
        - EDITORIAL_REVIEWED
    TrustSignal:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        signalType:
          type: string
          enum: *a8
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - signalType
        - createdAt
    EventStatus:
      type: string
      enum: &a9
        - UPCOMING
        - ONGOING
        - PAST
        - CANCELLED
    EventDetail:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        title:
          type: string
        slug:
          type: string
        description:
          type:
            - string
            - "null"
        status:
          type: string
          enum: *a9
        startsAt:
          type: string
          format: date-time
        endsAt:
          type:
            - string
            - "null"
          format: date-time
        venueName:
          type:
            - string
            - "null"
        venueAddress:
          type:
            - string
            - "null"
        isOnline:
          type: boolean
        onlineUrl:
          type:
            - string
            - "null"
        cost:
          type:
            - string
            - "null"
        imageUrl:
          type:
            - string
            - "null"
        isRecurring:
          type: boolean
        registrationUrl:
          type:
            - string
            - "null"
        community:
          type:
            - object
            - "null"
          properties:
            name:
              type: string
            slug:
              type: string
            logoUrl:
              type:
                - string
                - "null"
          required:
            - name
            - slug
            - logoUrl
        city:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
          required:
            - name
            - slug
        categories:
          type: array
          items:
            type: object
            properties:
              category:
                type: object
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                  icon:
                    type:
                      - string
                      - "null"
                required:
                  - name
                  - slug
                  - icon
            required:
              - category
        trustSignals:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 20
                maxLength: 40
              signalType:
                type: string
                enum: *a8
              createdAt:
                type: string
                format: date-time
            required:
              - id
              - signalType
              - createdAt
        relatedEvents:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 20
                maxLength: 40
              title:
                type: string
              slug:
                type: string
              startsAt:
                type: string
                format: date-time
              endsAt:
                type:
                  - string
                  - "null"
                format: date-time
              venueName:
                type:
                  - string
                  - "null"
              isOnline:
                type: boolean
              cost:
                type:
                  - string
                  - "null"
              imageUrl:
                type:
                  - string
                  - "null"
              isRecurring:
                type: boolean
              community:
                type:
                  - object
                  - "null"
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                required:
                  - name
                  - slug
              city:
                type: object
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                required:
                  - name
                  - slug
              categories:
                type: array
                items:
                  type: object
                  properties:
                    category:
                      type: object
                      properties:
                        name:
                          type: string
                        slug:
                          type: string
                        icon:
                          type:
                            - string
                            - "null"
                      required:
                        - name
                        - slug
                        - icon
                  required:
                    - category
            required:
              - id
              - title
              - slug
              - startsAt
              - endsAt
              - venueName
              - isOnline
              - cost
              - imageUrl
              - isRecurring
              - community
              - city
              - categories
      required:
        - id
        - title
        - slug
        - description
        - status
        - startsAt
        - endsAt
        - venueName
        - venueAddress
        - isOnline
        - onlineUrl
        - cost
        - imageUrl
        - isRecurring
        - registrationUrl
        - community
        - city
        - categories
        - trustSignals
        - relatedEvents
    SaveState:
      type: object
      properties:
        saved:
          type: boolean
      required:
        - saved
    TrackEventType:
      type: string
      enum: &a10
        - event.detail.viewed
        - event.saved
        - event.calendar_added
        - event.shared
        - event.register_clicked
        - discover.feed.viewed
        - discover.card.tapped
    TrackEvent:
      type: object
      properties:
        event:
          type: string
          enum: *a10
        entityType:
          type: string
          enum: &a14
            - COMMUNITY
            - EVENT
            - RESOURCE
        entityId:
          type: string
          minLength: 20
          maxLength: 40
        citySlug:
          type: string
        metadata:
          type: object
          additionalProperties: {}
      required:
        - event
    ChannelType:
      type: string
      enum: &a11
        - WHATSAPP
        - TELEGRAM
        - WEBSITE
        - FACEBOOK
        - INSTAGRAM
        - EMAIL
        - MEETUP
        - YOUTUBE
        - LINKEDIN
        - OTHER
    AccessChannel:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        channelType:
          type: string
          enum: *a11
        url:
          type: string
        label:
          type:
            - string
            - "null"
        isPrimary:
          type: boolean
        isVerified:
          type: boolean
      required:
        - id
        - channelType
        - url
        - label
        - isPrimary
        - isVerified
    CommunityTrustSignal:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        signalType:
          type: string
          enum: *a8
        createdAt:
          type: string
          format: date-time
      required:
        - id
        - signalType
        - createdAt
    CommunityDetail:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        name:
          type: string
        slug:
          type: string
        description:
          type:
            - string
            - "null"
        descriptionLong:
          type:
            - string
            - "null"
        status:
          type: string
          enum: *a6
        claimState:
          type: string
          enum: *a7
        logoUrl:
          type:
            - string
            - "null"
        coverImageUrl:
          type:
            - string
            - "null"
        personaSegments:
          type: array
          items:
            type: string
        languages:
          type: array
          items:
            type: string
        foundedYear:
          type:
            - integer
            - "null"
        memberCountApprox:
          type:
            - integer
            - "null"
        activityScore:
          type: number
        completenessScore:
          type: number
        trustScore:
          type: number
        isTrending:
          type: boolean
        lastActivityAt:
          type:
            - string
            - "null"
          format: date-time
        city:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
          required:
            - name
            - slug
        categories:
          type: array
          items:
            type: object
            properties:
              category:
                type: object
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                  icon:
                    type:
                      - string
                      - "null"
                required:
                  - name
                  - slug
                  - icon
            required:
              - category
        accessChannels:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 20
                maxLength: 40
              channelType:
                type: string
                enum: *a11
              url:
                type: string
              label:
                type:
                  - string
                  - "null"
              isPrimary:
                type: boolean
              isVerified:
                type: boolean
            required:
              - id
              - channelType
              - url
              - label
              - isPrimary
              - isVerified
        trustSignals:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                minLength: 20
                maxLength: 40
              signalType:
                type: string
                enum: *a8
              createdAt:
                type: string
                format: date-time
            required:
              - id
              - signalType
              - createdAt
        upcomingEventCount:
          type: integer
      required:
        - id
        - name
        - slug
        - description
        - descriptionLong
        - status
        - claimState
        - logoUrl
        - coverImageUrl
        - personaSegments
        - languages
        - foundedYear
        - memberCountApprox
        - activityScore
        - completenessScore
        - trustScore
        - isTrending
        - lastActivityAt
        - city
        - categories
        - accessChannels
        - trustSignals
        - upcomingEventCount
    CommunitySummary:
      type: object
      properties:
        id:
          type: string
          minLength: 20
          maxLength: 40
        name:
          type: string
        slug:
          type: string
        description:
          type:
            - string
            - "null"
        logoUrl:
          type:
            - string
            - "null"
        memberCountApprox:
          type:
            - integer
            - "null"
        city:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
          required:
            - name
            - slug
        categories:
          type: array
          items:
            type: object
            properties:
              category:
                type: object
                properties:
                  name:
                    type: string
                  slug:
                    type: string
                  icon:
                    type:
                      - string
                      - "null"
                required:
                  - name
                  - slug
                  - icon
            required:
              - category
        upcomingEventCount:
          type: integer
      required:
        - id
        - name
        - slug
        - description
        - logoUrl
        - memberCountApprox
        - city
        - categories
        - upcomingEventCount
    FollowState:
      type: object
      properties:
        followed:
          type: boolean
      required:
        - followed
    SearchType:
      type: string
      enum: &a12
        - COMMUNITY
        - EVENT
        - ALL
    Suggestion:
      type: object
      properties:
        text:
          type: string
        type:
          type: string
          enum: *a12
      required:
        - text
        - type
    SearchQuery:
      type: object
      properties:
        q:
          type: string
          minLength: 1
          maxLength: 200
        citySlug:
          type: string
        category:
          type: string
        from:
          type: string
          format: date-time
        to:
          type: string
          format: date-time
        type:
          type: string
          enum: *a12
          default: ALL
        cursor:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 50
      required:
        - q
    SearchResultItem:
      oneOf:
        - type: object
          properties:
            type:
              type: string
              enum:
                - COMMUNITY
            item:
              type: object
              properties:
                id:
                  type: string
                  minLength: 20
                  maxLength: 40
                name:
                  type: string
                slug:
                  type: string
                description:
                  type:
                    - string
                    - "null"
                status:
                  type: string
                  enum: *a6
                activityScore:
                  type: number
                completenessScore:
                  type: number
                trustScore:
                  type: number
                isTrending:
                  type: boolean
                claimState:
                  type: string
                  enum: *a7
                memberCountApprox:
                  type:
                    - integer
                    - "null"
                logoUrl:
                  type:
                    - string
                    - "null"
                lastActivityAt:
                  type:
                    - string
                    - "null"
                  format: date-time
                languages:
                  type: array
                  items:
                    type: string
                city:
                  type: object
                  properties:
                    name:
                      type: string
                    slug:
                      type: string
                  required:
                    - name
                    - slug
                categories:
                  type: array
                  items:
                    type: object
                    properties:
                      category:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                          icon:
                            type:
                              - string
                              - "null"
                        required:
                          - name
                          - slug
                          - icon
                    required:
                      - category
                upcomingEventCount:
                  type: integer
              required:
                - id
                - name
                - slug
                - description
                - status
                - activityScore
                - completenessScore
                - trustScore
                - isTrending
                - claimState
                - memberCountApprox
                - logoUrl
                - lastActivityAt
                - languages
                - city
                - categories
                - upcomingEventCount
          required:
            - type
            - item
        - type: object
          properties:
            type:
              type: string
              enum:
                - EVENT
            item:
              type: object
              properties:
                id:
                  type: string
                  minLength: 20
                  maxLength: 40
                title:
                  type: string
                slug:
                  type: string
                startsAt:
                  type: string
                  format: date-time
                endsAt:
                  type:
                    - string
                    - "null"
                  format: date-time
                venueName:
                  type:
                    - string
                    - "null"
                isOnline:
                  type: boolean
                cost:
                  type:
                    - string
                    - "null"
                imageUrl:
                  type:
                    - string
                    - "null"
                isRecurring:
                  type: boolean
                community:
                  type:
                    - object
                    - "null"
                  properties:
                    name:
                      type: string
                    slug:
                      type: string
                  required:
                    - name
                    - slug
                city:
                  type: object
                  properties:
                    name:
                      type: string
                    slug:
                      type: string
                  required:
                    - name
                    - slug
                categories:
                  type: array
                  items:
                    type: object
                    properties:
                      category:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                          icon:
                            type:
                              - string
                              - "null"
                        required:
                          - name
                          - slug
                          - icon
                    required:
                      - category
              required:
                - id
                - title
                - slug
                - startsAt
                - endsAt
                - venueName
                - isOnline
                - cost
                - imageUrl
                - isRecurring
                - community
                - city
                - categories
          required:
            - type
            - item
    SearchPage:
      type: object
      properties:
        items:
          type: array
          items:
            oneOf:
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                      - COMMUNITY
                  item:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 20
                        maxLength: 40
                      name:
                        type: string
                      slug:
                        type: string
                      description:
                        type:
                          - string
                          - "null"
                      status:
                        type: string
                        enum: *a6
                      activityScore:
                        type: number
                      completenessScore:
                        type: number
                      trustScore:
                        type: number
                      isTrending:
                        type: boolean
                      claimState:
                        type: string
                        enum: *a7
                      memberCountApprox:
                        type:
                          - integer
                          - "null"
                      logoUrl:
                        type:
                          - string
                          - "null"
                      lastActivityAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                      languages:
                        type: array
                        items:
                          type: string
                      city:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                        required:
                          - name
                          - slug
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            category:
                              type: object
                              properties:
                                name:
                                  type: string
                                slug:
                                  type: string
                                icon:
                                  type:
                                    - string
                                    - "null"
                              required:
                                - name
                                - slug
                                - icon
                          required:
                            - category
                      upcomingEventCount:
                        type: integer
                    required:
                      - id
                      - name
                      - slug
                      - description
                      - status
                      - activityScore
                      - completenessScore
                      - trustScore
                      - isTrending
                      - claimState
                      - memberCountApprox
                      - logoUrl
                      - lastActivityAt
                      - languages
                      - city
                      - categories
                      - upcomingEventCount
                required:
                  - type
                  - item
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                      - EVENT
                  item:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 20
                        maxLength: 40
                      title:
                        type: string
                      slug:
                        type: string
                      startsAt:
                        type: string
                        format: date-time
                      endsAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                      venueName:
                        type:
                          - string
                          - "null"
                      isOnline:
                        type: boolean
                      cost:
                        type:
                          - string
                          - "null"
                      imageUrl:
                        type:
                          - string
                          - "null"
                      isRecurring:
                        type: boolean
                      community:
                        type:
                          - object
                          - "null"
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                        required:
                          - name
                          - slug
                      city:
                        type: object
                        properties:
                          name:
                            type: string
                          slug:
                            type: string
                        required:
                          - name
                          - slug
                      categories:
                        type: array
                        items:
                          type: object
                          properties:
                            category:
                              type: object
                              properties:
                                name:
                                  type: string
                                slug:
                                  type: string
                                icon:
                                  type:
                                    - string
                                    - "null"
                              required:
                                - name
                                - slug
                                - icon
                          required:
                            - category
                    required:
                      - id
                      - title
                      - slug
                      - startsAt
                      - endsAt
                      - venueName
                      - isOnline
                      - cost
                      - imageUrl
                      - isRecurring
                      - community
                      - city
                      - categories
                required:
                  - type
                  - item
        nextCursor:
          type: string
      required:
        - items
  parameters: {}
paths:
  /api/v1/auth/magic-link/request:
    post:
      summary: Request a magic-link email
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  maxLength: 254
                  format: email
                redirectTo:
                  type: string
                  maxLength: 500
              required:
                - email
      responses:
        "200":
          description: Always 200 to prevent account enumeration
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                required:
                  - ok
        "400":
          description: Error envelope
          content:
            application/json: &a13
              schema:
                $ref: "#/components/schemas/ApiError"
        "429":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/auth/magic-link/verify:
    post:
      summary: Verify a magic-link token and receive auth tokens
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  minLength: 1
                  maxLength: 500
              required:
                - token
      responses:
        "200":
          description: Auth tokens + user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  accessExpiresAt:
                    type: string
                    format: date-time
                  refreshExpiresAt:
                    type: string
                    format: date-time
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 20
                        maxLength: 40
                      email:
                        type: string
                        format: email
                      displayName:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
                        format: uri
                      role:
                        type: string
                        enum: *a2
                      cityId:
                        type:
                          - string
                          - "null"
                        minLength: 20
                        maxLength: 40
                      personaSegments:
                        type: array
                        items:
                          type: string
                      preferredLanguages:
                        type: array
                        items:
                          type: string
                      onboardingComplete:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      lastActiveAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                    required:
                      - id
                      - email
                      - displayName
                      - avatarUrl
                      - role
                      - cityId
                      - personaSegments
                      - preferredLanguages
                      - onboardingComplete
                      - createdAt
                      - lastActiveAt
                required:
                  - accessToken
                  - refreshToken
                  - accessExpiresAt
                  - refreshExpiresAt
                  - user
        "400":
          description: Error envelope
          content:
            application/json: *a13
        "401":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/auth/google:
    post:
      summary: Exchange a Google authorization code for auth tokens
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  minLength: 1
                codeVerifier:
                  type: string
                  minLength: 1
                redirectUri:
                  type: string
                  format: uri
              required:
                - code
                - redirectUri
      responses:
        "200":
          description: Auth tokens + user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  accessExpiresAt:
                    type: string
                    format: date-time
                  refreshExpiresAt:
                    type: string
                    format: date-time
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 20
                        maxLength: 40
                      email:
                        type: string
                        format: email
                      displayName:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
                        format: uri
                      role:
                        type: string
                        enum: *a2
                      cityId:
                        type:
                          - string
                          - "null"
                        minLength: 20
                        maxLength: 40
                      personaSegments:
                        type: array
                        items:
                          type: string
                      preferredLanguages:
                        type: array
                        items:
                          type: string
                      onboardingComplete:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      lastActiveAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                    required:
                      - id
                      - email
                      - displayName
                      - avatarUrl
                      - role
                      - cityId
                      - personaSegments
                      - preferredLanguages
                      - onboardingComplete
                      - createdAt
                      - lastActiveAt
                required:
                  - accessToken
                  - refreshToken
                  - accessExpiresAt
                  - refreshExpiresAt
                  - user
        "400":
          description: Error envelope
          content:
            application/json: *a13
        "401":
          description: Error envelope
          content:
            application/json: *a13
        "500":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/auth/apple:
    post:
      summary: Verify an Apple identity token and exchange for auth tokens
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                identityToken:
                  type: string
                  minLength: 1
                authorizationCode:
                  type: string
                  minLength: 1
                user:
                  type: object
                  properties:
                    email:
                      type: string
                      format: email
                    name:
                      type: object
                      properties:
                        firstName:
                          type: string
                        lastName:
                          type: string
              required:
                - identityToken
                - authorizationCode
      responses:
        "200":
          description: Auth tokens + user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  accessExpiresAt:
                    type: string
                    format: date-time
                  refreshExpiresAt:
                    type: string
                    format: date-time
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 20
                        maxLength: 40
                      email:
                        type: string
                        format: email
                      displayName:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
                        format: uri
                      role:
                        type: string
                        enum: *a2
                      cityId:
                        type:
                          - string
                          - "null"
                        minLength: 20
                        maxLength: 40
                      personaSegments:
                        type: array
                        items:
                          type: string
                      preferredLanguages:
                        type: array
                        items:
                          type: string
                      onboardingComplete:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      lastActiveAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                    required:
                      - id
                      - email
                      - displayName
                      - avatarUrl
                      - role
                      - cityId
                      - personaSegments
                      - preferredLanguages
                      - onboardingComplete
                      - createdAt
                      - lastActiveAt
                required:
                  - accessToken
                  - refreshToken
                  - accessExpiresAt
                  - refreshExpiresAt
                  - user
        "400":
          description: Error envelope
          content:
            application/json: *a13
        "401":
          description: Error envelope
          content:
            application/json: *a13
        "500":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/auth/refresh:
    post:
      summary: Rotate the refresh token and mint a fresh access token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  minLength: 1
              required:
                - refreshToken
      responses:
        "200":
          description: Fresh auth tokens
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  refreshToken:
                    type: string
                  accessExpiresAt:
                    type: string
                    format: date-time
                  refreshExpiresAt:
                    type: string
                    format: date-time
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        minLength: 20
                        maxLength: 40
                      email:
                        type: string
                        format: email
                      displayName:
                        type:
                          - string
                          - "null"
                      avatarUrl:
                        type:
                          - string
                          - "null"
                        format: uri
                      role:
                        type: string
                        enum: *a2
                      cityId:
                        type:
                          - string
                          - "null"
                        minLength: 20
                        maxLength: 40
                      personaSegments:
                        type: array
                        items:
                          type: string
                      preferredLanguages:
                        type: array
                        items:
                          type: string
                      onboardingComplete:
                        type: boolean
                      createdAt:
                        type: string
                        format: date-time
                      lastActiveAt:
                        type:
                          - string
                          - "null"
                        format: date-time
                    required:
                      - id
                      - email
                      - displayName
                      - avatarUrl
                      - role
                      - cityId
                      - personaSegments
                      - preferredLanguages
                      - onboardingComplete
                      - createdAt
                      - lastActiveAt
                required:
                  - accessToken
                  - refreshToken
                  - accessExpiresAt
                  - refreshExpiresAt
                  - user
        "400":
          description: Error envelope
          content:
            application/json: *a13
        "401":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/auth/logout:
    post:
      summary: Revoke a refresh token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                refreshToken:
                  type: string
                  minLength: 1
              required:
                - refreshToken
      responses:
        "200":
          description: Acknowledged (idempotent)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                required:
                  - ok
        "400":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/me:
    get:
      summary: Return the authenticated user profile
      security:
        - BearerAuth: []
      responses:
        "200":
          description: User profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 20
                    maxLength: 40
                  email:
                    type: string
                    format: email
                  displayName:
                    type:
                      - string
                      - "null"
                  avatarUrl:
                    type:
                      - string
                      - "null"
                    format: uri
                  role:
                    type: string
                    enum: *a2
                  cityId:
                    type:
                      - string
                      - "null"
                    minLength: 20
                    maxLength: 40
                  personaSegments:
                    type: array
                    items:
                      type: string
                  preferredLanguages:
                    type: array
                    items:
                      type: string
                  onboardingComplete:
                    type: boolean
                  createdAt:
                    type: string
                    format: date-time
                  lastActiveAt:
                    type:
                      - string
                      - "null"
                    format: date-time
                required:
                  - id
                  - email
                  - displayName
                  - avatarUrl
                  - role
                  - cityId
                  - personaSegments
                  - preferredLanguages
                  - onboardingComplete
                  - createdAt
                  - lastActiveAt
        "401":
          description: Error envelope
          content:
            application/json: *a13
        "404":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/devices:
    post:
      summary: Register or refresh the calling device
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                installationId:
                  type: string
                  minLength: 1
                  maxLength: 128
                platform:
                  type: string
                  enum: *a3
                expoPushToken:
                  type: string
                  minLength: 1
                  maxLength: 256
                locale:
                  type: string
                  minLength: 2
                  maxLength: 16
                timezone:
                  type: string
                  minLength: 1
                  maxLength: 64
                appVersion:
                  type: string
                  maxLength: 32
              required:
                - installationId
                - platform
      responses:
        "200":
          description: Device record
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 20
                    maxLength: 40
                  installationId:
                    type: string
                  platform:
                    type: string
                    enum: *a3
                  expoPushToken:
                    type:
                      - string
                      - "null"
                  locale:
                    type: string
                  timezone:
                    type: string
                  appVersion:
                    type:
                      - string
                      - "null"
                  lastSeenAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                required:
                  - id
                  - installationId
                  - platform
                  - expoPushToken
                  - locale
                  - timezone
                  - appVersion
                  - lastSeenAt
                  - createdAt
        "400":
          description: Error envelope
          content:
            application/json: *a13
        "401":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/devices/{installationId}:
    patch:
      summary: Update mutable device fields (push token, locale, ...)
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: installationId
          in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                platform:
                  type: string
                  enum: *a3
                expoPushToken:
                  type: string
                  minLength: 1
                  maxLength: 256
                locale:
                  type: string
                  minLength: 2
                  maxLength: 16
                timezone:
                  type: string
                  minLength: 1
                  maxLength: 64
                appVersion:
                  type: string
                  maxLength: 32
      responses:
        "200":
          description: Device record
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 20
                    maxLength: 40
                  installationId:
                    type: string
                  platform:
                    type: string
                    enum: *a3
                  expoPushToken:
                    type:
                      - string
                      - "null"
                  locale:
                    type: string
                  timezone:
                    type: string
                  appVersion:
                    type:
                      - string
                      - "null"
                  lastSeenAt:
                    type: string
                    format: date-time
                  createdAt:
                    type: string
                    format: date-time
                required:
                  - id
                  - installationId
                  - platform
                  - expoPushToken
                  - locale
                  - timezone
                  - appVersion
                  - lastSeenAt
                  - createdAt
        "400":
          description: Error envelope
          content:
            application/json: *a13
        "401":
          description: Error envelope
          content:
            application/json: *a13
        "404":
          description: Error envelope
          content:
            application/json: *a13
    delete:
      summary: Sign out from the given device
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: true
          name: installationId
          in: path
      responses:
        "200":
          description: Acknowledged (idempotent)
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                required:
                  - ok
        "401":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/notifications/preferences:
    get:
      summary: Read the full topic × channel preference matrix
      security:
        - BearerAuth: []
      responses:
        "200":
          description: Preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences:
                    type: array
                    items:
                      type: object
                      properties:
                        topic:
                          type: string
                          enum: *a4
                        channel:
                          type: string
                          enum: *a5
                        enabled:
                          type: boolean
                      required:
                        - topic
                        - channel
                        - enabled
                  quietHours:
                    type: object
                    properties:
                      startMin:
                        type: integer
                        minimum: 0
                        maximum: 1439
                      endMin:
                        type: integer
                        minimum: 0
                        maximum: 1439
                      timezone:
                        type: string
                        minLength: 1
                        maxLength: 64
                    required:
                      - startMin
                      - endMin
                      - timezone
                required:
                  - preferences
                  - quietHours
        "401":
          description: Error envelope
          content:
            application/json: *a13
    put:
      summary: Patch preferences and/or quiet hours
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                preferences:
                  type: array
                  items:
                    type: object
                    properties:
                      topic:
                        type: string
                        enum: *a4
                      channel:
                        type: string
                        enum: *a5
                      enabled:
                        type: boolean
                    required:
                      - topic
                      - channel
                      - enabled
                quietHours:
                  type: object
                  properties:
                    startMin:
                      type: integer
                      minimum: 0
                      maximum: 1439
                    endMin:
                      type: integer
                      minimum: 0
                      maximum: 1439
                    timezone:
                      type: string
                      minLength: 1
                      maxLength: 64
      responses:
        "200":
          description: Updated preferences
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferences:
                    type: array
                    items:
                      type: object
                      properties:
                        topic:
                          type: string
                          enum: *a4
                        channel:
                          type: string
                          enum: *a5
                        enabled:
                          type: boolean
                      required:
                        - topic
                        - channel
                        - enabled
                  quietHours:
                    type: object
                    properties:
                      startMin:
                        type: integer
                        minimum: 0
                        maximum: 1439
                      endMin:
                        type: integer
                        minimum: 0
                        maximum: 1439
                      timezone:
                        type: string
                        minLength: 1
                        maxLength: 64
                    required:
                      - startMin
                      - endMin
                      - timezone
                required:
                  - preferences
                  - quietHours
        "400":
          description: Error envelope
          content:
            application/json: *a13
        "401":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/notifications/inbox:
    get:
      summary: List inbox items, newest first
      security:
        - BearerAuth: []
      parameters:
        - schema:
            type: string
          required: false
          name: cursor
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 50
          required: false
          name: limit
          in: query
      responses:
        "200":
          description: Inbox page
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 20
                          maxLength: 40
                        topic:
                          type: string
                          enum: *a4
                        title:
                          type: string
                        body:
                          type: string
                        deepLink:
                          type:
                            - string
                            - "null"
                        readAt:
                          type:
                            - string
                            - "null"
                          format: date-time
                        createdAt:
                          type: string
                          format: date-time
                      required:
                        - id
                        - topic
                        - title
                        - body
                        - deepLink
                        - readAt
                        - createdAt
                  nextCursor:
                    type: string
                required:
                  - items
        "401":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/notifications/inbox/read:
    post:
      summary: Mark inbox items as read
      security:
        - BearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    minLength: 20
                    maxLength: 40
                  minItems: 1
                  maxItems: 100
              required:
                - ids
      responses:
        "200":
          description: Acknowledged
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                    enum:
                      - true
                required:
                  - ok
        "400":
          description: Error envelope
          content:
            application/json: *a13
        "401":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/cities:
    get:
      summary: List all active cities
      responses:
        "200":
          description: City list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      minLength: 20
                      maxLength: 40
                    name:
                      type: string
                    slug:
                      type: string
                    state:
                      type: string
                    country:
                      type: string
                    isActive:
                      type: boolean
                    isMetroPrimary:
                      type: boolean
                    timezone:
                      type: string
                    diasporaDensityEstimate:
                      type:
                        - integer
                        - "null"
                    latitude:
                      type:
                        - number
                        - "null"
                    longitude:
                      type:
                        - number
                        - "null"
                  required:
                    - id
                    - name
                    - slug
                    - state
                    - country
                    - isActive
                    - isMetroPrimary
                    - timezone
                    - diasporaDensityEstimate
                    - latitude
                    - longitude
  /api/v1/cities/{slug}:
    get:
      summary: City detail with counts and category grid
      parameters:
        - schema:
            type: string
          required: true
          name: slug
          in: path
      responses:
        "200":
          description: City detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 20
                    maxLength: 40
                  name:
                    type: string
                  slug:
                    type: string
                  state:
                    type: string
                  country:
                    type: string
                  isActive:
                    type: boolean
                  isMetroPrimary:
                    type: boolean
                  timezone:
                    type: string
                  diasporaDensityEstimate:
                    type:
                      - integer
                      - "null"
                  latitude:
                    type:
                      - number
                      - "null"
                  longitude:
                    type:
                      - number
                      - "null"
                  counts:
                    type: object
                    properties:
                      communities:
                        type: integer
                      upcomingEvents:
                        type: integer
                      categories:
                        type: integer
                    required:
                      - communities
                      - upcomingEvents
                      - categories
                  categories:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        slug:
                          type: string
                        icon:
                          type:
                            - string
                            - "null"
                        communityCount:
                          type: integer
                      required:
                        - name
                        - slug
                        - icon
                        - communityCount
                required:
                  - id
                  - name
                  - slug
                  - state
                  - country
                  - isActive
                  - isMetroPrimary
                  - timezone
                  - diasporaDensityEstimate
                  - latitude
                  - longitude
                  - counts
                  - categories
        "404":
          description: Error envelope
          content:
            application/json: *a13
  /api/v1/discovery/{citySlug}/events:
    get:
      summary: Cursor-paginated event feed for a city
      parameters:
        - schema:
            type: string
          required: true
          name: citySlug
          in: path
        - schema:
            type: string
            format: date-time
          required: false
          name: from
          in: query
        - schema:
            type: string
            format: date-time
          required: false
          name: to
          in: query
        - schema:
            type: string
          required: false
          name: cursor
          in: query
        - schema:
            type: integer
            minimum: 1
            maximum: 50
          required: false
          name: limit
          in: query
        - schema:
            type: string
          required: false
          name: categorySlug
          in: query
      responses:
        "200":
          description: Events page
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          minLength: 20
                          maxLength: 40
                        title:
                          type: string
                        slug:
                          type: string
                        startsAt:
[...]
